<section class="content-header">
  <h2>Aide</h2>
</section>

<section class="content">

  <h4>Catégorie</h4>
  <ul>
    <li>Les catégories sont des groupes de budgets. Ex: <strong>Maison</strong> et <strong>Loisirs</strong>.</li>
  </ul>

  <h4>Budget</h4>
  <ul>
    <li>Les budgets sont des groupes de dépenses. Ex: <strong>Voiture</strong> <i>(révision, contrôle technique, essence, etc.)</i></li>
  </ul>

  <h4>Transaction</h4>
  <ul>
    <li>Il est impossible de supprimer une <strong>transaction</strong> car le but est de tout enregistrer. Si il est nécessaire de supprimer une dépense, vous pouvez créer une nouvelle transaction avec le montant opposé (5€ -> -5€).</li>
  </ul>
  <h4>Transactions périodiques</h4>
  <ul>
    <li>Idem par rapport aux transaction avec un côté récurrent (l'éléctricité se paye en général tous les mois, etc.).</li>
  </ul>
</section>
