<nav class="navbar navbar-fixed-top navbar-default" role="navigation" bs-navbar>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/manage">Budget App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
            <ul class="nav navbar-nav">
                <li><a href="/manage">Accueil</a></li>
                <li><a href="/recurrings">Transaction périodiques</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{$root.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/settings"><span class="fa fa-cog"></span> Paramètres</a></li>
                        <li><a href="/profile"><span class="fa fa-user"></span> Profil</a></li>
                        <li><a href="/logout"><span class="fa fa-power-off"></span> Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
