<section class="content-header">
  <h2>Rapports</h2>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Formulaire de recherche</h3>
        </div>
        <div class="box-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="minAmount" class="col-sm-2 control-label">Montant min</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="minAmount" placeholder="Montant minimal de la transaction" ng-model="search.minAmount">
              </div>
              <label for="maxAmount" class="col-sm-2 control-label">Montant max</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="maxAmount" placeholder="Montant maximal de la transaction" ng-model="search.maxAmount">
              </div>
            </div>
            <div class="form-group">
              <label for="startOn" class="col-sm-2 control-label">Date de début</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="startOn" placeholder="Date de Début (yyyy-mm-dd)" ng-model-options="{ timezone: 'UTC' }" ng-model="search.startOn">
              </div>
              <label for="endOn" class="col-sm-2 control-label">Date de fin</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="endOn" placeholder="Date de fin (yyyy-mm-dd)" ng-model-options="{ timezone: 'UTC' }" ng-model="search.endOn">
              </div>
            </div>
            <div class="actions">
              <button type="button" class="btn btn-primary" ng-click="doSearch()" ng-disabled="!transactionsLoaded">
                <span class="fa fa-search" ng-show="transactionsLoaded"></span><span class="fa fa-spinner fa-spin" ng-show="!transactionsLoaded"></span> Recherche</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary">
        <div class="box-body">
          <div ng-hide="transactionsLoaded" class="loading"></div>

          <div ng-hide="transactions.length || !transactionsLoaded" class="no-result">
            <h2>Pas de transaction trouvée</h2>
          </div>
          <table foo-table class="table footable" ng-model="transactions" ng-show="transactions.length && transactionsLoaded">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Montant</th>
              <th>Remarque</th>
              <th>Date de transaction</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in transactions">
              <td>{{transaction.name}}</td>
              <td data-type="numeric" data-value="{{transaction.amount}}" ng-class="{true: 'overspend'}[transaction.amount < 0]">{{transaction.amount | currency}}</td>
              <td><span title="{{transaction.remark | na }}">{{transaction.remark | na | truncate:true:50 }}</span></td>
              <td data-type="numeric" data-value="{{transaction.transactionOn}}">{{transaction.transactionOn | date}}</td>
            </tr>
            </tbody>
            <tfoot class="table-pagination hide-if-no-paging">
            <tr>
              <td colspan="4">
                <ul class="pagination"></ul>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
